<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>Conoce un poco más de nosotros</h2>
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">Ferrumac es una ferretería ubicada en la ciudad de Sogamoso, Colombia, que se especializa en la venta de una amplia gama de productos y herramientas relacionados con la construcción, la reparación y el mantenimiento del hogar y la industria. Esta ferretería se ha ganado una sólida reputación en la comunidad local gracias a su excelente servicio y la calidad de sus productos.
                <br/>
                <video style="padding-top: 50px" width="640" height="360" controls>
                  <source src="assets/video/video.mp4" type="video/mp4">
                  Tu navegador no admite el elemento de video.
                </video>

              </h4>
              
            </div>
            <!-- <div class="mb-100"><img src="assets/images/embajador/detail-1.jpg" alt=""></div> -->
            <div class="ps-post__text">
              <p><span class="cap">V</span>
                isión, de Ferrumac es ser la ferretería líder en Sogamoso, reconocida por la calidad incomparable de nuestros productos y servicios, la satisfacción total de nuestros clientes y el compromiso con el desarrollo sostenible de nuestra comunidad. Nos esforzamos por ser un referente en la industria, brindando soluciones integrales para proyectos de construcción, renovación y mantenimiento en el hogar y la industria.</p>
            </div>
            <div class="ps-post__text">
              <p><span class="cap">M</span>
                isión, es proporcionar a nuestros clientes los productos y herramientas más confiables y eficientes para llevar a cabo sus proyectos con éxito. Nos comprometemos a:

                Ofrecer una amplia gama de productos de alta calidad a precios competitivos.
                Brindar un servicio al cliente excepcional, con asesoramiento experto y atención personalizada.
                Contribuir al crecimiento de nuestra comunidad local mediante empleo sostenible y participación activa en iniciativas de desarrollo.
                Mantener estándares éticos y sostenibles en nuestras operaciones comerciales, minimizando nuestro impacto ambiental.
                Fomentar un ambiente de trabajo positivo y de desarrollo para nuestro equipo de empleados.
                Innovar constantemente para estar a la vanguardia de las tendencias y necesidades cambiantes de nuestros clientes.
                Comprometer recursos para apoyar la educación y la formación técnica en el sector de la construcción y el mantenimiento.
                Estos principios guían nuestro día a día en Ferrumac, y nos esforzamos por cumplirlos a medida que crecemos y servimos a nuestra comunidad con integridad y pasión.  
              </p>
            </div>
          </div>
          
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
